#one{
        font-size:50; 
        width:50%;
        height:200%;
        background-color:bl;
        margin-left:200px;
        margin-right:200px;
        margin-top:200px;
        padding-left:300px;
        padding-top:300px;
       }